<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Welcome To <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Holen Sie sich energiespendende Trainingsschritte, gesunde Rezepte und Tipps zum Abnehmen und Wohlfühlen von gesundheit.cf . Finden Sie heraus, wie Sie Diabetes und Depressionen behandeln, Herzinfarkte verhindern und vieles mehr.

Follo..</p>
    <p>
      
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
